table td{
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
button{
    width: 100px;
    background-color: #4169e1;
    border: 0px gray;
    border-radius: 2px;
    height: 20px;
    cursor: pointer;
}
.btnReset{
    background-color: #90ee90;
}